@import 'tailwindcss';

@theme inline {
  /* Color Palette */
  --color-dark: oklch(26.8% 0.007 34.298);
  --color-darker: oklch(21.6% 0.006 56.043);
  --color-darkest: oklch(14.7% 0.004 49.25);
  --color-light: oklch(86.9% 0.005 56.366);
  --color-lighter: oklch(98.5% 0.001 106.423);
  --color-lightest: oklch(98.5% 0.001 106.423);
  --color-howdy-amber: oklch(82.8% 0.189 84.429);
  --color-deep-canyon: oklch(25% 0.05 30);
  --color-warm-stone: oklch(65% 0.08 45);
  --color-soft-sand: oklch(80% 0.06 65);
  --color-misty-purple: oklch(45% 0.08 320);
  --color-desert-haze: oklch(88% 0.07 50);
  --color-sunset-orange: oklch(70% 0.18 50);
  --color-sky-blue: oklch(75% 0.12 210);
  --color-vibrant-teal: oklch(65% 0.14 195);
  --color-rich-terracotta: oklch(55% 0.15 40);

  /* Typography */
  --font-sans: var(--font-quicksand);
  --font-mono: var(--font-source-code);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
}